# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
tsconfig.tsbuildinfo

# production
/build

# env
.env*.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# sanity
.sanity

# misc
.DS_Store
*.pem

# Sanity Studio build output
/dist
